<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutoC2 | Attack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Dashboard content -->
    <div class="container">

        <h1 class="title">AutoC2</h1>

        <!-- Navbar with links -->
        <nav class="navbar">
            <div class="nav-links">
                <a href="{{ url_for('dashboard') }}" class="button">Dashboard</a>
                <a href="{{ url_for('attack') }}" class="button">Attack</a>
                <a href="{{ url_for('logs') }}" class="button">Logs</a>
            </div>
            <div class="nav-links">
                <a href="{{ url_for('logout') }}" class="button">Logout</a>
            </div>
        </nav>
        
        <div class="main">
            <button id="start-attack-button" class="start-attack-button">Start Attack</button>
            <div id="response-message" class="output" style="color: white;"></div>
        </div>
        
    </div>

    <script>
        document.getElementById('start-attack-button').addEventListener('click', async () => {
            const responseMessage = document.getElementById('response-message');
    
            try {
                // Send POST request to Flask server
                responseMessage.textContent = 'Attack initiated';

                const response = await fetch('/start_attack', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
    
                if (response.ok) {
                    responseMessage.textContent = 'Attack completed';
                } else {

                }
            } catch (error) {

            }
        });
    </script>
</body>
</html>
